body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h2	
{
	margin: 0;
}
.header
{
   text-align: left;
}

a
{
	margin: 0 10px;
	color:white;
}

h1{
	margin-top: 0;
}


.top_container{
	margin: 0 auto;
	height: 80vh;
	text-align: center;
    position: relative;
	font-family: 'Potta One', cursive;
	color: white;
	background-color: #065F93;
}

.study
{
	margin-top:80px;
}

.second_container{
	max-width: 700px;
	margin: 0 auto;
}



li{
	margin-bottom: 10px;
}

.like{
	margin-top: 20px;
	position: absolute;
}

.books
{
	position: relative;
	margin-left: 400px;
	margin-top: 20px 
}
.education
{
	max-width: 800px;
	margin: 0 auto;
}

.image-aitu
{
	position: absolute;
	margin-bottom: 100px: 
}

.text{
	position: relative;
	margin-top: 100px;
	margin-left: 300px;
}

.footer{
	background-color: #065F93;
}

.contact{
	color:white;
	max-width: 1200px;
	margin: 50px auto 0;
}

.limks{
	margin-top: 20px; 
}

